body{
	background-color:#EEFFBB;
	font-size:20px;
	width: 960px;
	margin-left:auto;
	margin-right:auto;
	border-width:1px;
}

img{
	width: 450px;
	float:left;
	clear: both;
}
p{
	color: #770077;
	font-size:18px;
	font-weight: bold;
	line-height: 20px
}
h2{
	font-size: 22px
}
*{
	font-style: italic;
}
.pic1{
	width:400px;
}